/* Digital Ocean reset https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------- VARIABLES ------------- */
:root {
  --dark-color: rgb(47, 46, 64);
}

/* --------- global styles ------- */

body, h1, h2,
h3, h4, h5,
h6, p, ol, ul {
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

body {
  font-size: 16px;
  background-color: #ece0ee;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  color: var(--dark-color);
}
main {
  padding-top: 50px;
}
h2 {
  text-align: center;
  padding: 20px;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 30px;
}
section {
  padding-top: 50px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 .5em;
}
main p {
  color: var(--dark-color);
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.8;
  word-spacing: 2px;
}

/* -------- title --------- */

#emoji {
  font-size: 100px;
}
#title {
  text-align: center;
}
#title h1 span {
  background-color: #845ec2;
  color: white;
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  transform: rotate(-3deg);
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

/* styles for navbar */

header {
  font-family: "Fira Sans", sans-serif;
  background-color: #845ec2;
  width: 100%;
  padding: 1.2em .2em;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my__name {
  display: none;
}

.nav-list {
  display: flex;
}

.nav-list li {
  transition: .5s;
}

.list_item {
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #FAFAFF;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  margin: 0 .5em;
  transition: .5s;
}

.nav-list li:hover {
  transform: translateY(.2em);
}

.list_item:hover {
  transform: translateY(-10px);
}

/* about me  */

.platform__links {
  color: #845ec2;
  transition: color .3s;
}
.platform__links:hover {
  color:#603a9e;
}

#about p {
  padding-bottom: 20px;
}
div.polaroid {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  display: inline-block;
}
#about-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* projects */

.projects-flexbox {
  display: flex;
  flex-direction: column;
}
.projects-item {
  font-size: 18px;
  cursor: pointer;
  padding: 12px;
  text-align: center;
  border: thin solid var(--dark-color);
  border-radius: 6px;
  margin: 10px;
  color: var(--dark-color);
  position: relative;
  box-shadow: 0 7px 10px rgba(47, 46, 64, 0.473);
  background-color: white;
  color: var(--dark-color);
  transition: .5s;
}
.projects-item:hover {
  transform: scale(1.05);
}

/* form */

form {
  background: #fff;
  text-align: center;
  padding: 20px 0 20px 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 20px 0 40px 0;
}
.container h2 {
  color: var(--dark-color);
}
.fact-flex {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: .5em 0;
  font-size: 18px;
}
.fact-picker {
  text-align: center;
}
.label__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  margin: 0 1em;
}
.fact-flex label {
  transition: transform .4s;
  color: var(--dark-color);
  margin: .5em;
  font-size: 18px;
}
label:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.submit_btn {
  cursor: pointer;
  margin: .5em 1em;
  border: none;
  outline: none;
  padding: .4em 1em;
  border-radius: 5px;
  color: #FAFAFF;
  background-color: #845ec2;
  font-size: 22px;
  text-transform: uppercase;
  transition: .5s;
}

.submit_btn:hover {
  background-color: #603a9e;
}

/* styles for footer */

#contact_title {
  color: #FAFAFF;
}

footer {
  background-color: #845ec2;
  color: #FAFAFF;
  padding: 10px 0 50px 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}
#footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#footer-flex li {
  font-size: 14px;
  margin: 0 .5em;
}

/* -------- MEDIA QUERIES ------ */

/*
Those are styles to be applied when the screen width is
larger than 700px
*/

@media screen and (min-width: 700px){
  header {
    padding: 1.5em .5em;
    justify-content: space-between;
  }
  .my__name {
    display: block;
    color: #FAFAFF;
    font-size: 22px;
    letter-spacing: 2px;
  }

  /* projects */
  .projects-flexbox {
    display: flex;
    flex-direction: row;
  }

  /* form */
  .container form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* styles for footer */
  #footer-flex li {
    font-size: 16px;
    margin: 0 .5em;
  }
}
